resolution_type: GETDNS_RESOLUTION_STUB
dns_transport_list:
  - GETDNS_TRANSPORT_TLS
tls_authentication: GETDNS_AUTHENTICATION_REQUIRED
tls_query_padding_blocksize: 128
edns_client_subnet_private: 1
idle_timeout: 30000
tls_connection_retries: 5
tls_backoff_time: 180
timeout: 5000
tls_cipher_list: "EECDH+AESGCM:EECDH+CHACHA20"
tls_min_version: GETDNS_TLS1_2
tls_ca_path: "/etc/ssl/certshashed/"

listen_addresses:
  - 127.0.0.1@41500

round_robin_upstreams: 1

upstream_recursive_servers:
{% for s in upstream_servers %}
  - address_data: {{ s.address_data }}
    tls_port: {{ s.tls_port }}
    tls_auth_name: "{{ s.tls_auth_name }}"
    tls_ignore_time: {{ s.tls_ignore_time }}
{% endfor %}
